<script>
    /** @ts-ignore */
    import Uwuifier from "uwuifier";

    function clear(el: HTMLButtonElement) {
        let func = el.dataset.func;
        switch (func) {
            case "clear-nekobox":
                [
                    "nekobox:value",
                    "nekobox:username",
                    "nekobox:domain",
                    "nekobox:overflow",
                    "nekobox.readonly",
                    "nekobox.rss",
                ].forEach((a) => localStorage.removeItem(a));
                break;
            case "clear-localstorage":
                localStorage.clear();
                break;
            case "uwuify":
                let u = new Uwuifier();
                if (
                    confirm(
                        "Are you sure about this?\nThis will lag a phone or a shitbox.\n\nNote that this will only apply on the current session, and you need to reapply it if you want to do it again on another page,",
                    )
                ) {
                    const textElements = document.querySelectorAll(
                        'button, div.select, p, h1, h2, h3, h4, h5, h6, span, strong, em, blockquote, li, dt, dd, label, textarea, input[type="text"], input[type="email"], input[type="number"], input[type="search"], select, option',
                    );
                    textElements.forEach((e) => {
                        if (e.textContent) {
                            e.textContent = u.uwuifySentence(e.textContent);
                        }
                    });
                    document.querySelectorAll("[title]").forEach((e) => {
                        e.title = u.uwuifySentence(e.title);
                    });
                    document.title = u.uwuifySentence(document.title);
                }
                break;
            default:
                ["jbsite-theme-scheme", "jbsite-theme", "jbsite-font"].forEach(
                    (a) => localStorage.removeItem(a),
                );
                break;
        }

        let i = el.textContent;
        el.textContent = "Done!";
        setTimeout(() => (el.textContent = i), 2500);
    }

    document.querySelectorAll(".danger-btns button").forEach((e) => {
        e.addEventListener("click", () => clear(e as HTMLButtonElement));
    });
</script>

<script is:inline>
    document.addEventListener("DOMContentLoaded", loadCustomize);
    document.addEventListener("astro:after-swap", loadCustomize);

    function loadCustomize() {
        document.querySelectorAll(".palette .select").forEach((el) => {
            el.addEventListener("click", (e) => {
                document.body.className = el.dataset.value;
                document.querySelectorAll(".palette .select").forEach((el) => {
                    el.classList.remove("selected");
                });
                el.classList.add("selected");
                localStorage.setItem("jbsite-theme", el.dataset.value);
            });
        });

        document.querySelectorAll(".scheme .select").forEach((el) => {
            el.addEventListener("click", (e) => {
                let val = el.dataset.value;
                localStorage.setItem("jbsite-theme-scheme", val);
                loadTheme();
            });
        });

        document.querySelectorAll(".main-font .select").forEach((el) => {
            el.addEventListener("click", (e) => {
                document.documentElement.className = el.dataset.value;
                document
                    .querySelectorAll(".main-font .select")
                    .forEach((el) => {
                        el.classList.remove("selected");
                    });
                el.classList.add("selected");
                localStorage.setItem("jbsite-font", el.dataset.value);
            });
        });

        loadTheme();
    }

    function loadCustomCSS(el) {
        let css = document.querySelector("#customCSS");
        css.innerHTML = el.value;
        localStorage.setItem("jbsite-customcss", el.value);
    }

    function loadTheme() {
        let css = document.querySelector("#customCSS");
        if (css) css.innerHTML = localStorage.getItem("jbsite-customcss");
        let cssField = document.querySelector("#customCSSField");
        if (cssField) cssField.value = localStorage.getItem("jbsite-customcss");

        let scheme = localStorage.getItem("jbsite-theme-scheme");
        scheme = scheme ? scheme : "";
        let fScheme = scheme;
        if (scheme === "") {
            fScheme = matchMedia("(prefers-color-scheme:dark)").matches
                ? "dark"
                : "light";

            matchMedia("(prefers-color-scheme:dark)").addEventListener(
                "change",
                loadTheme,
            );
        }

        let theme = localStorage.getItem("jbsite-theme");
        theme = theme ? theme : "jcolor";

        let font = localStorage.getItem("jbsite-font");
        font = font ? font : "inter";

        document.body.className = theme;
        document.querySelectorAll(".palette .select").forEach((el) => {
            if (el.dataset.value !== theme) el.classList.remove("selected");
            else el.classList.add("selected");
        });
        document.documentElement.dataset.color = fScheme;
        document.querySelectorAll(".scheme .select").forEach((el) => {
            if (el.dataset.value !== scheme) el.classList.remove("selected");
            else el.classList.add("selected");
        });
        document.documentElement.classList = font;
        document.querySelectorAll(".main-font .select").forEach((el) => {
            if (el.dataset.value !== font) el.classList.remove("selected");
            else el.classList.add("selected");
        });
    }
</script>

<div class="floating-window" id="customize" style="display: none;">
    <div class="floating-window-titlebar">
        <p>Customize</p>
        <p onclick="closeWindow(this)">
            <span aria-hidden="true" class="ms" data-icon="close"></span>
        </p>
    </div>
    <div class="floating-window-content">
        <div class="window-container">
            <div class="tab-buttons">
                <button
                    onclick="showTab(this)"
                    class="active"
                    data-tab-id="colors"
                    ><span aria-hidden="true" class="ms" data-icon="palette"
                    ></span> Colors</button
                >
                <button onclick="showTab(this)" data-tab-id="fonts"
                    ><span aria-hidden="true" class="ms" data-icon="format_size"
                    ></span> Fonts</button
                >
                <!-- <button onclick="showTab(this)" data-tab-id="accessibility"
                    ><span aria-hidden="true" class="ms" data-icon="settings_accessibility"></span> Accessibility</button
                > -->
                <button onclick="showTab(this)" data-tab-id="custom"
                    ><span aria-hidden="true" class="ms" data-icon="code"
                    ></span> Custom CSS (yes, really)</button
                >
                <button onclick="showTab(this)" data-tab-id="danger"
                    ><span aria-hidden="true" class="ms" data-icon="warning"
                    ></span> Danger Zone</button
                >
            </div>
            <div class="tab visible" id="colors">
                <h1>Colors</h1>
                <p>Color scheme</p>
                <div role="listbox" class="select-container scheme">
                    <div role="listitem" class="select selected" data-value="">
                        System
                    </div>
                    <div role="listitem" class="select" data-value="dark">
                        Dark
                    </div>
                    <div role="listitem" class="select" data-value="light">
                        Light
                    </div>
                </div>
                <p>Color palette</p>
                <div
                    role="listbox"
                    class="select-container palette"
                    id="palette"
                >
                    <div
                        role="listitem"
                        class="select selected"
                        data-value="jcolor"
                    >
                        jColor 2
                        <div class="jcolor color-preview">
                            <div style="--cl:var(--bg)"></div>
                            <div style="--cl:var(--altbg)"></div>
                            <div style="--cl:var(--acc)"></div>
                            <div style="--cl:var(--text)"></div>
                            <div style="--cl:var(--sec)"></div>
                            <div style="--cl:var(--link)"></div>
                            <div style="--cl:var(--link-hover)"></div>
                        </div>
                    </div>
                    <div role="listitem" class="select" data-value="gruvbox">
                        Gruvbox
                        <div class="gruvbox color-preview">
                            <div style="--cl:var(--bg)"></div>
                            <div style="--cl:var(--altbg)"></div>
                            <div style="--cl:var(--acc)"></div>
                            <div style="--cl:var(--text)"></div>
                            <div style="--cl:var(--sec)"></div>
                            <div style="--cl:var(--link)"></div>
                            <div style="--cl:var(--link-hover)"></div>
                        </div>
                    </div>
                    <div role="listitem" class="select" data-value="ctp">
                        Catppuccin
                        <div class="ctp color-preview">
                            <div style="--cl:var(--bg)"></div>
                            <div style="--cl:var(--altbg)"></div>
                            <div style="--cl:var(--acc)"></div>
                            <div style="--cl:var(--text)"></div>
                            <div style="--cl:var(--sec)"></div>
                            <div style="--cl:var(--link)"></div>
                            <div style="--cl:var(--link-hover)"></div>
                        </div>
                    </div>
                    <div role="listitem" class="select" data-value="inf">
                        indietheme
                        <div class="inf color-preview">
                            <div style="--cl:var(--bg)"></div>
                            <div style="--cl:var(--altbg)"></div>
                            <div style="--cl:var(--acc)"></div>
                            <div style="--cl:var(--text)"></div>
                            <div style="--cl:var(--sec)"></div>
                            <div style="--cl:var(--link)"></div>
                            <div style="--cl:var(--link-hover)"></div>
                        </div>
                    </div>
                    <div
                        role="listitem"
                        class="select"
                        data-value="highcontrast"
                    >
                        High Contrast
                        <div class="highcontrast color-preview">
                            <div style="--cl:var(--bg)"></div>
                            <div style="--cl:var(--altbg)"></div>
                            <div style="--cl:var(--acc)"></div>
                            <div style="--cl:var(--text)"></div>
                            <div style="--cl:var(--sec)"></div>
                            <div style="--cl:var(--link)"></div>
                            <div style="--cl:var(--link-hover)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab" id="fonts">
                <h1>Fonts</h1>
                <p>Main font</p>
                <div role="listbox" class="select-container main-font">
                    <div
                        role="listitem"
                        class="inter select selected"
                        data-value="inter"
                    >
                        Inter
                    </div>
                    <div
                        role="listitem"
                        class="commit-mono select"
                        data-value="commit-mono"
                    >
                        Commit Mono
                    </div>
                    <div role="listitem" class="vcr select" data-value="vcr">
                        VCR OSD Mono
                    </div>
                    <div
                        role="listitem"
                        class="times select"
                        data-value="times"
                    >
                        Times
                    </div>
                    <div
                        role="listitem"
                        class="opendyslexic select"
                        data-value="opendyslexic"
                    >
                        OpenDyslexic
                    </div>
                    <div
                        role="listitem"
                        class="atkinson-hyperlegible select"
                        data-value="atkinson-hyperlegible"
                    >
                        Atkinson Hyperlegible
                    </div>
                    <div
                        role="listitem"
                        class="default select"
                        data-value="default"
                    >
                        Default
                    </div>
                    <div
                        role="listitem"
                        class="default-serif select"
                        data-value="default-serif"
                    >
                        Default (Serif)
                    </div>
                    <div
                        role="listitem"
                        class="default-mono select"
                        data-value="default-mono"
                    >
                        Default (Mono)
                    </div>
                </div>
                <p>Sadly, you cannot change the monospace font. Sorry!</p>
            </div>
            <div class="tab" id="accessibility">
                <h1>Accessibility</h1>
            </div>
            <div class="tab" id="custom">
                <h1>Custom CSS</h1>
                <p>
                    Yes, really. Just put any stuff here and my site will use
                    it.
                </p>
                <textarea
                    id="customCSSField"
                    placeholder="CSS here"
                    aria-label="Custom CSS field"
                    oninput="loadCustomCSS(this)"></textarea>
            </div>
            <div class="tab" id="danger">
                <h1>Danger Zone</h1>
                <div class="danger-btns">
                    <button
                        >Clear Customize-releated items on localStorage</button
                    >
                    <button data-func="clear-nekobox"
                        >Clear Nekobox-releated items on localStorage</button
                    >
                    <button data-func="clear-localstorage"
                        >Clear localStorage</button
                    >
                    <button data-func="uwuify">uwu-ify jbSite</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .floating-window {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: var(--top, 0);
        left: var(--left, 0);
        min-width: 350px;
        z-index: 998;
        transition: none !important;
        border: 1px solid var(--link-hover);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-width: calc(100dvw - 2px);
    }

    .floating-window.focused {
        border: 1px solid var(--link);
        z-index: 999;
    }

    .floating-window .floating-window-titlebar {
        display: flex;
        flex-direction: row;
        background-color: var(--acc);
        padding: 0 6px;
    }

    .floating-window .floating-window-titlebar p:first-child {
        flex-grow: 1;
    }

    .floating-window .floating-window-titlebar p {
        cursor: pointer;
    }

    .floating-window .floating-window-content {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        background-color: var(--bg);
        padding: 6px;
        overflow: auto;
    }

    .floating-window.move * {
        cursor: grabbing !important;
    }

    .floating-window:not(.visible) {
        display: none;
    }

    .jonsole--content {
        background-color: var(--altbg) !important;
        font-family: "Commit Mono", monospace;
        width: 500px;
        height: 250px;
    }

    .jonsole--content * {
        padding: 0 !important;
    }

    .browser--content {
        height: 400px;
        width: 600px;
    }

    .browser--content iframe {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0;
        background: 0;
        max-width: initial !important;
    }

    .select-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(6px, 1fr));
        gap: 12px;
    }

    .select-container .select {
        flex-grow: 1;
        padding: 6px;
        background-color: var(--bg);
        cursor: pointer;
        font-family: var(--font);
    }

    .select-container .select:hover {
        background-color: var(--altbg);
    }

    .select-container .select.selected {
        background-color: var(--acc);
    }

    .select-container .select .color-preview {
        display: grid;
        grid-template-columns: repeat(7, minmax(6px, 1fr));
        gap: 3px;
    }

    .select-container .select .color-preview div {
        margin-top: 6px;
        height: 20px;
        background-color: var(--cl);
    }

    .danger-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    #customize {
        width: 600px;
    }

    #customize .floating-window-content {
        height: 400px;
        padding: 0;
    }

    #customize .window-container {
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: stretch;
        height: 100%;
    }

    #customize .window-container .tab-buttons {
        display: flex;
        flex-direction: column;
        background: var(--acc);
    }

    #customize .window-container .tab-buttons button {
        text-align: left;
        width: 135px;
        margin-left: 6px;
        color: var(--link);
    }

    #customize .window-container .tab-buttons button.active {
        background: var(--bg);
        color: var(--link-hover);
    }

    #customize .window-container .tab-buttons button:hover {
        background-color: var(--altbg);
        color: var(--link-hover);
    }

    #customize .window-container .tab:not(.visible) {
        display: none;
    }

    #customize .window-container .tab {
        width: 100%;
        padding-right: 6px;
    }

    @media (width <= 640px) {
        .floating-window {
            top: 0;
            left: 0;
            max-height: 100dvh;
        }

        #customize .window-container {
            flex-direction: column;
        }

        #customize .window-container .tab-buttons {
            flex-direction: row;
        }

        #customize .window-container .tab-buttons .tab {
            width: calc(100dvw - 12px);
        }
    }
</style>
