* {
    margin: initial;
    padding: initial;
    box-sizing: border-box;
    transition: all 100ms;
    text-justify: unset;
    overflow-wrap: anywhere;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

.noreset {
    all: revert;
}

body {
    font-family: var(--font);
    background-color: var(--altbg);
    color: var(--text);
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
}

.container {
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100vh;
}

.container > main {
    min-width: 0;
    width: calc(100vw - 150px);
}

@layer transitions, theme, fonts;

@layer fonts {
    .inter {
        --font: 'Inter', sans-serif;
    }

    .opendyslexic {
        --font: 'OpenDyslexic', 'sans-serif';
        font-size: 0.85em;
    }

    .atkinson-hyperlegible {
        --font: 'Atkinson Hyperlegible', sans-serif;
    }

    .vcr {
        --font: 'VCR OSD Mono', monospace;
    }

    .times {
        --font: 'Times New Roman', Times, serif;
    }

    .commit-mono {
        --font: 'Commit Mono', monospace;
    }

    .default {
        --font: sans-serif;
    }

    .default-serif {
        --font: serif;
    }

    .default-mono {
        --font: monospace;
    }
}

@layer theme {
    html {
        --anim-color1: #00ffea;
        --anim-color2: #0084ff;

        .highcontrast {
            --bg: #000000;
            --altbg: #0a0a0a;
            --acc: #2d2d2d;
            --text: #ffffff;
            --sec: #e0e0e0;
            --link: #33cccc;
            --link-hover: #4ddddd;
        }

        .jcolor {
            --bg: #212529;
            --altbg: #1d1f20;
            --acc: #343a40;
            --text: #f1f3f5;
            --sec: #ced4da;
            --link: #30b8e6;
            --link-hover: #4dc4eb;
        }

        .gruvbox {
            --bg: #32302f;
            --altbg: #1d2021;
            --acc: #504945;
            --text: #e8dbb2;
            --sec: #bdae93;
            --link: #2ea6b7;
            --link-hover: #47b6c4;
        }

        .ctp {
            --bg: #1e1e2e;
            --altbg: #181825;
            --acc: #313244;
            --text: #cdd6f4;
            --sec: #bac2de;
            --link: #2aa5c9;
            --link-hover: #3fb5d5;
        }

        .inf {
            --bg: #26263b;
            --altbg: #10101a;
            --acc: #2f2f3f;
            --text: #fffffe;
            --sec: #b5b5dd;
            --link: #33a6e6;
            --link-hover: #4db3eb;
        }

        color-scheme: dark;
    }

    html[data-color='light'] {
        --anim-color1: #0365c2;
        --anim-color2: #033361;

        .highcontrast {
            --bg: #ffffff;
            --altbg: #f5f5f5;
            --acc: #dddddd;
            --text: #000000;
            --sec: #333333;
            --link: #666666;
            --link-hover: #808080;
        }

        .jcolor {
            --bg: #ffffff;
            --altbg: #f8f9fa;
            --acc: #e9ecef;
            --text: #212529;
            --sec: #495057;
            --link: #6a6d73;
            --link-hover: #83868b;
        }

        .gruvbox {
            --bg: #f2e5bc;
            --altbg: #f9f5d7;
            --acc: #d5c4a1;
            --text: #3c3836;
            --sec: #504842;
            --link: #7b7670;
            --link-hover: #938e89;
        }

        .ctp {
            --bg: #e6e9ef;
            --altbg: #dce0e8;
            --acc: #ccd0da;
            --text: #4c4f69;
            --sec: #444552;
            --link: #898c9e;
            --link-hover: #a2a4b4;
        }

        .inf {
            --bg: #e1e1e4;
            --altbg: #f4f4fd;
            --acc: #c0c0ca;
            --text: #161b39;
            --sec: #414179;
            --link: #5a5e76;
            --link-hover: #727592;
        }

        color-scheme: light;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

input, button, select, textarea {
    background: var(--acc);
    color: var(--text);
    font-family: var(--font);
    font-size: 1.125rem;
    border: none;
    padding: 6px;
}

button.active, button:hover {
    background: var(--altbg);
}

textarea {
    font-family: 'Commit Mono', monospace;
}

.astro-code,
code,
.expressive-code,
.prism-code-editor {
    font-family: 'Commit Mono', monospace;
    font-size: 1.125rem;
    overflow-x: hidden;
}

code {
    word-break: break-all;
    word-wrap: break-word;
}

.ms {
    font-family: 'Material Symbols', serif;
    vertical-align: bottom;
}

.ms:after {
    content: attr(data-icon);
}

img, figure, iframe {
    max-width: clamp(100px, 80vw, 500px);
}

aside nav {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: sticky;
    top: 12px;
    z-index: 99;
}

figcaption, .tg, .text-xs {
    font-size: 0.75em;
    color: var(--sec);
    text-transform: uppercase;
}

.tg span::after {
    content: ' ';
}

#to-top {
    padding: 12px 0;
}

#to-top p {
    padding: 6px;
    width: fit-content;
    background: var(--altbg);
}

aside nav .sep, aside nav summary, optgroup {
    cursor: pointer;
    font-size: 0.75em;
    color: var(--sec);
    padding: 0;
    padding-top: 12px;
    padding-bottom: 2px;
    margin-left: 12px;
    text-transform: uppercase;
    background-color: var(--acc);
}

.small {
    font-size: 0.85em;
    padding: 0 !important;
}

aside h1 {
    font-size: 3.5em;
    font-weight: 600;
    text-wrap-mode: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 700px;
    line-height: 1.15em;
}

#content {
    display: flex;
    flex-direction: column;
}

#content > h1:first-of-type {
    padding-top: 0;
    margin-top: 0;
}

aside div {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    text-align: start;
    align-content: end;
    padding-left: 12px;
    z-index: 1;
}

aside nav a, aside nav button {
    display:block;
    padding: 6px;
    margin-left: 6px;
    background-color: var(--acc);
    width: 144px;
    text-align: left;
    color: var(--link);
}

aside nav a.active, aside nav button.active {
    background-color: var(--bg);
    color: var(--link-hover);
}

aside nav a:hover, aside nav button:hover {
    background-color: var(--altbg);
    color: var(--link-hover);
}

aside {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    padding: 12px 0;
    min-height: calc(100vh - 24px);
    align-items: end;
    background-color: var(--acc);
    grid-area: aside;
}

main > div {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 12px;
    min-height: 100vh;
}

div#leftbar>* {
    border-right: 1px solid var(--text);
}

pre {
    overflow-x: auto;
}

div#leftbar>*:last-child {
    border-right: none;
}

aside {
    view-transition-name: aside;
}

.sec {
    color: var(--sec);
}

a,
.a {
    color: var(--link);
    text-decoration: none;
}

#nav-visible {
    visibility: hidden;
}

a:hover,
a:active,
.a:hover,
.a:active,
body:has(#nav-visible:checked) .a {
    color: var(--link-hover);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 2.75rem;
    padding-top: 12px;
    padding-bottom: 6px;
}

h2 {
    font-size: 1.75rem;
    padding-top: 8px;
    padding-bottom: 4px;
}

h3 {
    font-size: 1.5rem;
    padding-top: 6px;
    padding-bottom: 3px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD80;
  border-radius: 3px;
  padding: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BDBDBDFF;
}

ul,
li {
    margin-left: 24px;
}

p {
    padding: 3px 0;
    line-height: 1.250em;
}

header {
    padding: 6px;
    background-color: var(--acc);
    display: flex;
    justify-content: space-between;
}

header * {
    margin: 0;
    padding: 0;
}

footer {
    border-top: 1px solid var(--acc);
    margin-top: 12px;
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}

footer .right {
    text-align: right;
    width: 300px;
}

.astro-code, .expressive-code {
    overflow-x: auto;
}

.motd {
    writing-mode: vertical-rl;
    font-size: 0.85em;
    padding-right: 6px;
    padding-top: 10px;
    max-height: 250px;
}

@media (prefers-reduced-motion) {
    * {
        transition: none !important;
        animation: none !important;
    }

    .big span {
        top: 0 !important;
    }
}

@media (width > 640px) {
    header {
        display: none;
    }
}

@media (width <=800px) {
    footer {
        flex-direction: column;
        gap: 24px;
    }

    footer .right {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 12px;
    }
}

@media (width <=640px) {
    .container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        width: auto;
        max-height: 100vh;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 99;
        align-self: flex-start;
    }

    .container main {
        scroll-snap-align: end;
        min-width: 100vw;
    }

    .container aside {
        scroll-snap-align: start;
        min-width: 150px;
        max-height: 100vh;
        overflow-y: auto;
    }

    main {
        overflow-y: auto;
    }

    main > div {
        max-height: 100vh;
    }

    aside nav {
        padding-top: 28px;
    }

    .sidetitle {
        display:none;
    }

    .container:has(aside.visible) main {
        overflow-y: hidden;

        &>div {
            opacity: 0.35;
            pointer-events: none;
        }
    }    
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    h1, h2, h3, h4, h5, h6, b {
        font-synthesis: none;
    }
}