* {
    margin: initial;
    padding: initial;
    box-sizing: content-box;
    transition: all 100ms;
    text-wrap: wrap;
    text-justify: unset;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--altbg);
    color: var(--text);
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
}

.container {
    background-color: var(--bg);
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    gap: 6px;
}

@layer transitions, theme;

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Variable.ttf);
}

@layer theme {
    .jcolor {
        --bg: #212529;
        --altbg: #1d1f20;
        --acc: #343a40;
        --text: #f1f3f5;
        --sec: #ced4da;
        --link: #91a7ff;
        --link-hover: #bac8ff;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

img {
    max-width: 500px;
}

aside nav {
    display: flex;
    flex-direction: column;
    width: 125px;
}

.small {
    font-size: 0.85em;
    padding: 0 !important;
}

aside h1 {
    font-size: 3.5em;
    font-weight: 600;
    text-wrap-mode: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 700px;
}

aside div p {
    padding-top: 6px;
}

aside div {
    writing-mode: vertical-lr;
    text-orientation:sideways;
    transform: rotate(180deg);
    text-align: start;
    align-content: end;
    padding-left: 12px;
}

aside nav a {
    padding: 6px;
    margin-left: 6px;
}

aside nav:not(:has(a:hover)) a.active, aside nav a:hover {
    background-color: var(--bg);
}

aside {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    padding: 12px 0;
    min-height: calc(100vh - 24px);
    align-items: end;
    background-color: var(--acc);
}

main {
    margin: 12px 0;
}

div#leftbar > * {
    border-right: 1px solid var(--text);
}

div#leftbar > *:last-child {
    border-right: none;
}

aside {
    view-transition-name: aside;
}

.sec {
    color: var(--sec);
}

a, .a {
    color: var(--link);
    text-decoration: none;
}

#nav-visible {
    visibility: hidden;
}

a:hover,
a:visited,
a:active,
.a:hover,
.a:visited,
.a:active,
body:has(#nav-visible:checked) .a {
    color: var(--link-hover);
    text-decoration: underline;
}

h1 {
    padding-top: 12px;
    padding-bottom: 6px;
}

h2 {
    padding-top: 8px;
    padding-bottom: 4px;
}

@media (width <= 640px) {
    body:not(:has(#nav-visible:checked)) aside {
        display: none;
        background-color: var(--bg);
    }
}