* {
    margin: initial;
    padding: initial;
    box-sizing: content-box;
    transition: all 100ms;
    text-justify: unset;
    overflow-wrap: anywhere;
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--altbg);
    color: var(--text);
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
}

.container {
    background-color: var(--bg);
    display: flex;
    flex-direction: row-reverse;
    max-width: 900px;
    margin: 0 auto;
}

.container > main {
    min-width: 0;
    width: calc(100vw - 150px);
}

@layer transitions, theme;

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Variable.ttf);
    font-display: optional;
}

@font-face {
    font-family: Commit Mono;
    src: url(/fonts/CommitMono-Variable.ttf);
    font-display: optional;
}

@font-face {
    font-family: Material Symbols;
    src: url(/fonts/MaterialSymbols.woff2);
    font-display: optional;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

@layer theme {
    .jcolor {
        --bg: #212529;
        --altbg: #1d1f20;
        --acc: #343a40;
        --text: #f1f3f5;
        --sec: #ced4da;
        --link: #a4b6fd;
        --link-hover: #c7d2fd;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* so safari can actually take it easily */
* {
    font-synthesis: none !important;
}

input, button, select, textarea {
    background: var(--acc);
    color: var(--text);
    font-size: 1.125rem;
    font-family: 'Inter', sans-serif;
    border: none;
    padding: 6px;
}

.astro-code,
code,
.expressive-code {
    font-family: 'Commit Mono', monospace;
    font-size: 1.125rem;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: hidden;
}

.ms {
    font-family: 'Material Symbols', serif;
    vertical-align: bottom;

}

img, figure, iframe {
    max-width: clamp(100px, 80vw, 500px);
}

aside nav {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: sticky;
    top: 12px;
    z-index: 999;
}

figcaption {
    font-size: 0.75em;
    color: var(--sec);
    text-transform: uppercase;
}

aside nav .sep, aside nav summary {
    cursor: pointer;
    font-size: 0.75em;
    color: var(--sec);
    padding: 0;
    padding-top: 12px;
    padding-bottom: 2px;
    margin-left: 12px;
    text-transform: uppercase;
    background-color: var(--acc);
}

.small {
    font-size: 0.85em;
    padding: 0 !important;
}

aside h1 {
    font-size: 3.5em;
    font-weight: 600;
    text-wrap-mode: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 700px;
    line-height: 1.15em;
}

#content {
    display: flex;
    flex-direction: column;
}

aside div {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    text-align: start;
    align-content: end;
    padding-left: 12px;
    z-index: 1;
}

aside nav a {
    display:block;
    padding: 6px;
    margin-left: 6px;
    background-color: var(--acc);
}

aside nav a.active {
    background-color: var(--bg);
}

aside nav a:hover {
    background-color: var(--altbg);
}

aside {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    padding: 12px 0;
    min-height: calc(100vh - 24px);
    align-items: end;
    background-color: var(--acc);
    grid-area: aside;
}

main > div {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 12px;
}

div#leftbar>* {
    border-right: 1px solid var(--text);
}

div#leftbar>*:last-child {
    border-right: none;
}

aside {
    view-transition-name: aside;
}

.sec {
    color: var(--sec);
}

a,
.a {
    color: var(--link);
    text-decoration: none;
}

#nav-visible {
    visibility: hidden;
}

a:hover,
a:active,
.a:hover,
.a:active,
body:has(#nav-visible:checked) .a {
    color: var(--link-hover);
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    padding-top: 12px;
    padding-bottom: 6px;
}

h2 {
    font-size: 1.75rem;
    padding-top: 8px;
    padding-bottom: 4px;
}

h3 {
    font-size: 1.5rem;
    padding-top: 6px;
    padding-bottom: 3px;
}

ul,
li {
    margin-left: 24px;
}

p {
    padding: 3px 0;
    line-height: 1.250em;
}

header {
    padding: 6px;
    background-color: var(--acc);
    display: flex;
    justify-content: space-between;
}

header * {
    margin: 0;
    padding: 0;
}

footer {
    border-top: 1px solid var(--acc);
    margin-top: 12px;
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}

footer .right {
    text-align: right;
    width: 300px;
}

.astro-code, .expressive-code {
    overflow-x: auto;
}



.motd {
    writing-mode: vertical-rl;
    font-size: 0.85em;
    padding-right: 6px;
    padding-top: 10px;
    max-height: 250px;
}

@media (width > 640px) {
    header {
        display: none;
    }
}

@media (width <=800px) {
    footer .right {
        display: none;
    }
}

@media (width <=640px) {
    .container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        width: auto;
        max-height: 100vh;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 999;
        align-self: flex-start;
    }

    .container main {
        scroll-snap-align: end;
        min-width: 100vw;
    }

    .container aside {
        scroll-snap-align: start;
        min-width: 150px;
    }

    main {
        overflow-y: scroll;
    }

    main > div {
        max-height: 100vh;
    }

    aside nav {
        padding-top: 28px;
    }

    .sidetitle {
        display:none;
    }
}