.main {
    background-color: var(--bg);
    padding: 12px 24px;
    padding-bottom: 24px;
    max-width: 800px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.cols {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 6px;
    width: 775px;
}

.colContainer h2 {
    padding-top: 0;
}

.col {
    padding: 6px;
    background-color: var(--acc);
}

.col .links {
    display: grid;
    grid-template-columns: repeat(3, 0.33fr);
    gap: 6px;
}

main {
    height: 100%;
}

div.main {
    margin: auto;
}

main > div {
    min-height: unset;
    display: block;
}

html {
    height: 100%;
}

h1, h2 {
    width: fit-content;
}

.big {
    font-size: 4em;
    text-align: center;
    padding-top: 24px;
}

.big span {
    position: relative;
    display: inline-block;
    color: var(--anim-color1);
}

.un {
    
}

marquee {
    text-wrap-mode:nowrap;
}

.cnt, .cntn {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 12px;
}

.cnt {
    justify-content: space-between;
}

.cnt .right {
    text-align: right;
}

.enter {
    padding: 0;
}

.big span:nth-of-type(odd) {
    animation:
        title 2000ms var(--d) infinite alternate,
        transform 2000ms var(--d) infinite alternate ease-in-out;
    top: -6px;
}

.big span:nth-of-type(even) {
    animation:
        title 2000ms var(--d) infinite alternate,
        transform 2000ms var(--d) infinite alternate-reverse ease-in-out;
    top: 6px;
}

@keyframes title {
    from {
        color: var(--anim-color1);
    }
    to {
        color: var(--anim-color2);
    }
}

@keyframes transform {
    from {
        top: -6px;
    }
    to {
        top: 6px;
    }
}

@media (width <= 640px) {
    .big {
        font-size: 3em;
    }

    .cnt {
        flex-direction: column;
        align-items: normal;
    }

    .cnt .right {
        text-align: left;
    }

    .cntn h2 {
        font-size: 1.25em;
    }
}