blockquote {
    border-left: 3px solid var(--acc);
    padding: 3px;
    padding-left: 12px;
}

p:not(.small):not(.page-title), li, figure {
    padding: 6px 0;
}

.post-title {
    font-size: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85vw;
}

article:not(.link-preview) {
    position: relative;
}

.link-preview {
    background-color: var(--acc);
    padding: 0 6px;
    margin: 6px;
    flex-direction: row !important;
    justify-content: space-between;
    z-index: 1;
}

.link-preview:hover {
    background-color: var(--altbg);
}

.link-preview img {
    max-width: 100px;
    padding: 6px;
    padding-right: 0;
}

.link-preview a {
    font-size: 1.25em;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

article h1 {
    position: sticky;
    top: 0px;
    background: var(--bg);
    z-index: 99;
    padding-top: 12px;
}

article h1::after {
    content: "";
    position: absolute;
    display: block;
    background: linear-gradient(to bottom, var(--bg), transparent);
    height: 12px;
    width: 100%;
}

@media (width <= 640px) {
    article h1 {
        position: static;
    }

    figure, img {
        max-width: 100%;
    }
}