---
import Layout from '../../layouts/LandingLayout.astro';
---

<Layout title="Redirecting..." id="redirecting">
    <head>
        <meta http-equiv="refresh" content="0; url=/utils/nekobox/" />
    </head>
    <h1>Redirecting to /utils/nekobox/, please wait...</h1>
</Layout>