---
import Layout from '../layouts/LandingLayout.astro';
---

<Layout title="404" id="404">
    <script>
        (async()=>{
            let path = 'jbsite3' + window.location.pathname;
            let url = new URL(path, 'https://jbcarreon123.github.io')
            let res = await fetch(url);

            if (res.ok) {
                let found = document.querySelector('.found-on-v3');
                let link = found?.querySelector('a');
                found?.classList.add('yes');
                link.href = url;
            }
        })()
    </script>

    <h1>Huh, seems like we can't find the page, unfortunately.</h1>
    <a href="/home/">Back home?</a>

    <p class="found-on-v3">We can't find it here, but we found it on jbsite3. <a target="_blank">Wanna go there? <span aria-hidden="true" class="ms">open_in_new</span></a></p>

    <style>
        .found-on-v3 {
            padding-top: 12px;
        }

        .found-on-v3:not(.yes) {
            display: none;
        }
    </style>
</Layout>