---
import Layout from '../layouts/LayoutNoSidebar.astro';
import CommentWidget from '../components/CommentWidget.svelte';
import '../styles/post.css';
import '../styles/comment-widget-dark.css';
import Copying from './COPYING-SRC.md';
---

<Layout title="COPYING (is plagiarism)" description="Jb's own approach against the 'Copying is an act of love' manifesto">
    <h1 class="post-title">COPYING (is plagiarism)</h1>
    <article>
        <Copying />
        <h1>Related stuff</h1>
        <div class="related">
            <div>
                <p class="tg">rice</p>
                <h2>test</h2>
                <p>test</p>
            </div>
            <div>
                <p class="tg">max</p>
                <h2>test</h2>
                <p>test</p>
            </div>

            <div>
                <p class="tg">hbomberguy (youtube)</p>
                <h2>Plagiarism and You(Tube)</h2>
                <p>test</p>
            </div>
        </div>
    </article>
    <div style="width: 100%;">
        <CommentWidget client:only="svelte" disabled={false} />
    </div>

    <style slot="head">
        .related {
            display: grid;
            gap: 6px;
            grid-template-columns: repeat(3, 1fr);
        }

        .related div {
            padding: 6px;
            background-color: var(--acc);
        }

        .related div > * {
            padding: 0;
            margin: 0;
        }

        @media (width <= 640px) {
            .related {
                grid-template-columns: repeat(1, 100%);
            }
        }
    </style>
</Layout>