---
import Layout from '../layouts/LayoutNoSidebar.astro';
import CommentWidget from '../components/CommentWidget.svelte';
import '../styles/post.css';
import '../styles/comment-widget-dark.css';
import Copying from './COPYING-SRC.md';
---

<Layout title="COPYING (is plagiarism)" description="Jb's own approach against the 'Copying is an act of love' manifesto">
    <h1 class="post-title">COPYING (is plagiarism)</h1>
    <article>
        <Copying />
    </article>
    <div style="width: 100%;">
        <CommentWidget client:only="svelte" disabled={false} />
    </div>
</Layout>