---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FAQs" id="faq" description="Some frequently (or not) asked questions about my site">
    <h1>FAQs</h1>
    
    <h2>Why modern?</h2>
    <p>I chose to use a modern style for my site for a few reasons:</p>
    <ul>
        <li>
            <b>It's responsive, by design</b>. I don't need to make it complicated
            so my site can be responsive,
        </li>
        <li>
            <b>It's also mostly accessible</b>, and if I change some DOM elements and
            modify some things on my site, I know it will be accessible, and because
        </li>
        <li>
            <b>I think modern design is also fun</b>, and it can be modern without
            being corporate looking, and it's really sad that this design is not very used
            in the indie web.
        </li>
    </ul>

    <h2>Why does jbSite uses a lot of packages???</h2>
    <p>
        Do you want to know that jbSite4 is just a small NPM project based on installed
        node modules??? A typical NPM based project's <code>node_modules</code> folder can get big,
        like gigabytes big, and a project's packages can consist from a few thousand to a few hundred
        thousand packages.
    </p>

    <h2>Can I use some code from your site?</h2>
    <p>Sure! It's actually okay for me, especially if you're crediting me.</p>

    <h2>Can I use your site's layout?</h2>
    <p>
        In certain circumstances, you can, but I wouldn't recommend abruptly
        copying my site code without knowledge of how it works.
        <strong
            >I honestly recommend you to instead, learn how to code your site,
            because that will allow you to debug any issues on your site.</strong>
    </p>
    
    <h2>Can I refer or quote some content on your site?</h2>
    <p>
        Sure! Almost all content on my site is licensed under Creative Commons
        Attribution-ShareAlike 4.0, so that means the content referring my work
        should have the same or compatible license. Though, there's some
        scenarios that I won't allow to use my content of my site:
    </p>
    <ul>
        <li>if you're training an large language model</li>
        <li>if you're slapping it into an NFT</li>
        <li>
            if you're just mocking my content (but criticism is allowed and
            appreciated)
        </li>
        <li>or if you're just a jerk</li>
    </ul>
</Layout>
