---
import Layout from "../layouts/LandingLayout.astro";
import Buttons from "../components/SiteButtons.astro";
import "../styles/landing.css";
---

<Layout title="welcome to jb's site" id="landing">
    <script is:inline> 
        document.addEventListener('DOMContentLoaded', () => {
            let back = document.querySelector('a#back');
            let icon = back?.querySelector('span.ms');
            let text = back?.querySelector('span#site');

            if (!back || !icon || !text) return;

            let referrer = document.referrer.replace(/\/$/gm, '');
            let historyLength = window.history.length;

            if (referrer) {
                text.textContent = `Go back to ${referrer.replace(/https?:\/\//, '')}`;
                back.href = referrer;

                back.addEventListener('click', (e) => {
                    e.preventDefault();
                    window.close();
                    if (historyLength > 1) {
                        window.history.back();
                    } else {
                        location.href = back.href;
                    }
                });
            } else if (historyLength > 1) {
                text.textContent = `Go back to previous page`;

                back.addEventListener('click', (e) => {
                    e.preventDefault();
                    window.history.back();
                });
            }
        })
    </script>

    <a id="back" href="https://nekoweb.org/"></span>
        <span aria-hidden="true" class="ms" data-icon="arrow_back_ios_new"></span> <span id="site">Go back to nekoweb.org</span>
    </a>
    <h1 class="big">
        <span><span style="--d:000ms">w</span><span style="--d:100ms">e</span><span
            style="--d:200ms">l</span
        ><span style="--d:300ms">c</span><span style="--d:400ms">o</span><span
            style="--d:500ms">m</span
        ><span style="--d:600ms">e</span></span>
        <span><span style="--d:800ms">t</span><span style="--d:900ms">o</span></span>
        <span><span style="--d:1100ms">j</span><span style="--d:1200ms">b</span><span
            style="--d:1300ms">'</span
        ><span style="--d:1400ms">s</span></span>
        <span><span style="--d:1600ms">s</span><span style="--d:1700ms">i</span><span
            style="--d:1800ms">t</span
        ><span style="--d:1900ms">e</span><span style="--d:2000ms">!</span></span>
    </h1>
    <h3 class="un">Before you enter, please note that:</h3>
    <p>This site is 14+, and contains swearing and such!</p>
    <p>
        Will work without JS, but some functions absolutely requires JS,
        unfortunately
    </p>

    <div class="cnt">
        <div>
            <h3 class="un">Understood?</h3>
            <h1 class="enter">
                <a href="/home/"
                    ><span aria-hidden="true" class="ms" data-icon="door_open"></span> Enter jb's site</a>
            </h1>
        </div>
        <div class="right">
            <h3 class="un">ooorrrrr...</h3>
            <div class="cntn">
                <h2 class="enter">
                    <a href="/chat/"><span aria-hidden="true" class="ms" data-icon="smart_toy"></span> "AI"</a>
                </h2>
                <h2 class="enter">
                    <a href="/links/" data-astro-reload><span aria-hidden="true" class="ms" data-icon="link"></span> Links</a>
                </h2>
                <h2 class="enter">
                    <a href="/posts/"><span aria-hidden="true" class="ms" data-icon="article"></span> Posts</a>
                </h2>
            </div>
        </div>
    </div>
</Layout>
