---
import Layout from '../layouts/Layout.astro';
import Stats from '../components/Stats.svelte';
import Nekocafe from '../components/Nekocafe.svelte';
import StatusCafe from '../components/StatusCafe.svelte';

const posts = Object.values(import.meta.glob('./posts/**/*.md', { eager: true }));

const postSorted = posts.sort((a, b) => {
    const dateA = new Date(a.frontmatter.published);
    const dateB = new Date(b.frontmatter.published);
    return dateA.getTime() - dateB.getTime();
}).reverse()

const latestPost = postSorted[0];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout id="index" title="jb's site" description="a website">
	<h1 class="big">
		Hello, folks!
		<br class="beforeim" />
		I'm
		<br class="afterim" />
		<span style="--d:0ms">j</span><span style="--d:100ms">b</span><span style="--d:200ms">c</span><span style="--d:300ms">a</span><span style="--d:400ms">r</span><span style="--d:500ms">r</span><span style="--d:600ms">e</span><span style="--d:700ms">o</span><span style="--d:800ms">n</span><span style="--d:900ms">1</span><span style="--d:1000ms">2</span><span style="--d:1100ms">3</span>,
	</h1>
	<h2>and welcome to my webbed site!</h2>
	<p>I do stuff, yap about stuff, and procrastinate on stuff!</p>
	<p>In this site, you can find stuff that I have interests on, from writing, to tools, to tutorials, and more!</p>
	<p>Wanted to know the things powering this site? Check out the <a href="/riiatw/">RIIAtW page</a>!</p>
	<p>Wanna learn about me? Check out my <a href="/about/">about page</a>!</p>

	<div class="widget-container">
		<div class="widget-full">
			<div>
				<h2>Latest post</h2>
				<div>
					<h3><a href={latestPost.url}>{latestPost.frontmatter.title}</a></h3>
					<p>{latestPost.frontmatter.description}</p>
				</div>
			</div>
			<div>
				<h2>Latest ramble (via Nekocafe)</h2>
				<Nekocafe client:only="svelte" />
			</div>
		</div>
		<div class="widgets">
			<div>
				<h2>Stats</h2>
				<Stats client:only="svelte" />
			</div>
			<div>
				<h2>JB's status</h2>
				<StatusCafe client:only="svelte" />
			</div>
		</div>
	</div>

	<style is:inline>
		.widget-container {
			padding-top: 12px;
			display: flex;
			flex-direction: column;
			gap: 6px;
		}

		.widget-full {
			display: flex;
			flex-direction: column;
			gap: 6px;
		}

		.widgets {
			display: grid;
			grid-template-columns: repeat(2, minmax(100px, 1fr));
			gap: 6px;
		}

		.widgets div, .widget-full div {
			background-color: var(--acc);
			padding: 6px;
		}

		.big {
			font-size: 3em;
		}

		.beforeim::after, .afterim::after {
			content: ' ';
		}

		.beforeim {
			display: inline-block;
		}

		.afterim {
			display: none;
		}

		@keyframes title {
			from {
				color: var(--anim-color1);
			}
			to {
				color: var(--anim-color2);
			}
		}

		@keyframes transform {
			from {
				top: -6px;
			}
			to {
				top: 6px;
			}
		}

		.big span {
			position: relative;
			display: inline-block;
			color: var(--anim-color1);
		}

		.big span:nth-of-type(odd) {
			animation:
				title 1200ms var(--d) infinite alternate,
				transform 2400ms calc(var(--d)*2) infinite alternate ease-in-out;
			top: -6px;
		}

		.big span:nth-of-type(even) {
			animation:
				title 1200ms var(--d) infinite alternate,
				transform 2400ms calc(var(--d)*2) infinite alternate-reverse ease-in-out;
			top: 6px;
		}

		@media (width <= 640px) {
			.big {
				font-size: 2.5em;
			}

			.beforeim {
				display: none;
			}

			.afterim {
				display: inline-block;
			}

			.widgets {
				grid-template-columns: repeat(1, minmax(100px, 1fr));
			}
		}
	</style>
</Layout>
