---
import Leftbar from '../components/Leftbar.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout id="index">
	<div class="w-full border-2 border-ctp-yellow p-1.5 mb-3">
		<h1 class="headercolor mt-[-6px] pb-2 text-2xl">Warning</h1>
		<p>
			This site is rated 14+ and contains mild swearing (especially on rant posts).
		</p>
		<p>
			This page (the homepage) is fine to be viewed by anyone so you're safe.
		</p>
	</div>
	<div class="w-full border-2 border-ctp-yellow border-dotted p-1.5 mb-3">
		<h1 class="headercolor mt-[-6px] pb-2 text-2xl">Under construction!</h1>
		<p>
			This site is currently undergoing construction! Some pages might not work as expected... or just throw 404 entirely lol
		</p>
		<p>
			I made the site as mobile-friendly as possible, but some pages and things might not be the best experience on mobile.
			This site is PC-first, then mobile-second, so if you want the full experience, visit this on PC!
		</p>
	</div>
	<h1 class="headercolor pb-2 text-2xl">Hi there! I'm JB!</h1>
	<div class="flex flex-col gap-2">
		<p>
			And this is my little corner of the interwebs!
		</p>
		<p>
			I ramble about stuff, create stuff, and just lurk on some stuff.
		</p>
		<p>
			I'm a 16 year old Filipino that started programming in 2020 in the midst of the pandemic,
			and the day when I got my first PC, which is a Dell Vostro 270s (Core i3-2100, 4GB RAM, 7200RPM HDD at the time).
		</p>
		<p>
			My first project at that time is <a href="https://github.com/jbcarreon123/Win11CompChk" target="_blank" rel="noopener">Win11CompChk</a> which
			is a Windows 11 compatibility checker made in a batch file. Yes, it's slow but it is still usable. It's already deprecated, but
			you can still see the source code on my GitHub. 
		</p>
		<p>
			The first version of this site has been built on 2024 in Express.js and I'm very proud of myself of how much I
			improved in the last couple of years since I started programming.
		</p>
		<p>
			Currently learning how to code in Rust, and developing a Discord bot using Rust to make myself learn quickly.
		</p>
	</div>
</Layout>
