---
import path from 'path';
import Layout from '../layouts/Layout.astro';
import { listInstalled } from 'list-installed';

const __dirname = path.resolve(path.dirname(''));
const pkgMap = await listInstalled(__dirname);
const packages = Array.from(pkgMap.entries()).sort((a, b) => a[0].localeCompare(b[0]));
---

<Layout title="Packages" description="The packages used to build and develop jb's site" id="packages">
    <h1>Packages</h1>
    <p>The packages used to build and develop jb's site. There's currently {packages.length} packages here, which is lower than a <a href="https://www.reddit.com/r/node/comments/fy335j/typical_npm_install/" target="_blank">typical NPM project! <span class="ms" data-icon="open_in_new" aria-hidden="true"></span></a></p>
    <div>
        {packages.map((pkg, ind) =>
            <a href={pkg[1].homepage} target="_blank">
                <div class="packageCard">
                    <h2>{pkg[0]} <span class="ms" aria-hidden="true" data-icon="open_in_new"></span></h2>
                    <p>{pkg[1].description}</p>
                    <p class="tg">{pkg[1].keywords?.join(', ')}</p>
                </div>
            </a>
        )}
    </div>

    <style slot="head" is:inline>
        .tabLayout:not(:first-child) {
            display: none;
        }

        .previewTabs {
            background: var(--altbg);
            padding: 6px;
        }

        .previewTabLayout {
            background: var(--acc);
            padding: 6px;
        }

        .previewTabs {
            display: grid;
            gap: 6px
        }

        .packageCard {
            padding: 6px;
            background: var(--acc);
            margin-block: 6px;
        }

        .packageCard:hover {
            background: var(--altbg);
        }

        .packageCard h2 {
            padding-top: 0;
        }
    </style>
</Layout>