---
import Layout from '../layouts/Layout.astro';
---

<Layout title="jbSite RIIAtW" description="Basically some information about this site" id="riiatw">
<h1>Relatively Important Information About this Website</h1>
<p>Basically some information about this site. Idea from <a href="https://mechagic.party/riiatw/" target="_blank">Mechagic <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a>.</p>

<h2>Some technical stuff</h2>
<h3>This website is:</h3>
<ul>
<li>Mobile responsive (down to 250px), mobile mode triggers on 640px</li>
<li>but best viewed on a 1280px wide screen</li>
</ul>
<h3>The code is hosted on</h3>
<ul>
<li><a target="_blank" href="https://github.com/jbcarreon123/gh.jbc.lol">GitHub <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
<li>and mirrored on <a target="_blank" href="https://git.gay/jbcarreon123/jbsite4">git.gay <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
</ul>
<h3>The actual site is hosted on</h3>
<ul>
<li><a target="_blank" href="https://nekoweb.org">Nekoweb <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
<li>and backup is <a target="_blank" href="https://gh.jbc.lol">GitHub Pages <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a>
<li>and the jbsite3 archive is on <a target="_blank" href="https://jbcarreon123.ze.wtf">ze spaces <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
</ul>
<h3>The page is written in</h3>
<ul>
<li><a target="_blank" href="https://astro.build">Astro <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
<li>with some <a target="_blank" href="https://svelte.dev">Svelte <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a> components</li>
</ul>
<h3>And tested on</h3>
<ul>
<li><a target="_blank" href="https://zen-browser.app/">Zen Browser <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a> (main browser on main laptop)</li>
<li><a target="_blank" href="https://www.mozilla.org/en-US/firefox/">Firefox <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a> (main browser on the shitbox)</li>
<li><a target="_blank" href="https://www.chromium.org/chromium-projects/">Chromium <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a> as the Blink/V8 tester</li>
<li>and <a target="_blank" href="https://apps.gnome.org/Epiphany/">GNOME Web/Epiphany <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a> and <a target="_blank" href="https://www.apple.com/ph/safari/">Safari <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a> as the WebKit tester</li>
</ul>
<h3>There is some cookies but</h3>
<ul>
<li>they are just there to power the Customize page</li>
</ul>
<h2>Crediting stuff</h2>
<h3>Idea for the name animation in the index page is from</h3>
<ul>
    <li><a target="_blank" href="https://duducat.moe/?landing">duducat's website <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
</ul>
<h3>Fonts used are</h3>
<ul>
<li><a target="_blank" href="https://rsms.me/inter">Inter <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a> for the main font</li>
<li>and <a target="_blank" href="https://commitmono.com/">Commit Mono <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a> as the monospace font</li>
</ul>
<h3>Icons are from</h3>
<ul>
<li><a target="_blank" href="https://fonts.google.com/icons">Google Material Icons <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
<li>and <a target="_blank" href="https://fontawesome.com">Font Awesome <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a> for the brands icons</li>
</ul>
<h3>Post/Tutorial comments and the guestbook is using</h3>
<ul>
<li><a target="_blank" href="https://virtualobserver.moe/ayano/comment-widget">Virtualobserver (Ayano)'s Comment Widget <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
<li>
    with these addons:
    <ul>
        <li><a target="_blank" href="https://layercake.nekoweb.org/writing/articles/admin">Layercake (June)'s Admin addon <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
        <li>and <a href="/tutorials/ayano-markdown/">JB's Markdown Addon</a></li>
    </ul>
</li>
</ul>
<h3>And SSGRing and Responeko are using</h3>
<ul>
    <li><a target="_blank" href="https://thinliquid.github.io/pmoring/">ThinLiquid's pmoring <span aria-hidden="true" class="ms" data-icon="open_in_new"></span></a></li>
</ul>


<style slot="head">
    h1 {
        max-width: 550px;
    }
</style>
</Layout>