---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import WebringCard from '../components/WebringCard.astro';
---

<Layout title="Webrings" id="webring">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let rings = document.querySelector('#webrings')?.querySelectorAll('&>div:not(.pending)');

            document.querySelector('h1 .count').textContent = `(part of ${rings?.length} rings)`
        })

        window.addEventListener('load', () => {
            document.querySelector('.loadtime').textContent = measureLoadTime();
        })

        function measureLoadTime() {
            if (window.performance && window.performance.timing) {
                let time = performance.timing;
                let loadTime = time.loadEventStart - time.navigationStart;
                const loadTimeSec = loadTime / 1000;
                return `Webrings page loaded in ${loadTimeSec.toFixed(2)} seconds.`;
            } else {
                return "Performance timing API is not supported in this browser.";
            }
        }
    </script>

    <h1>Webrings <span class="count"></span></h1>
    <p>Moved the webrings page into another page because its getting larger</p>
    <p class="loadtime"></p>
    <div id="webrings">
        <div>
            <WebringCard
                name="Bucket Webring"
                link="https://webring.bucketfish.me/"
                prev="https://webring.bucketfish.me/redirect.html?to=prev&name=jbcarreon123"
                next="https://webring.bucketfish.me/redirect.html?to=next&name=jbcarreon123"
                random="https://webring.bucketfish.me/redirect.html?to=random&name=jbcarreon123"
            ></WebringCard>
        </div>

        <div>
            <WebringCard
                name="No AI Webring"
                link="https://baccyflap.com/noai"
                prev="https://baccyflap.com/noai/?prv&s=jcr"
                next="https://baccyflap.com/noai/?nxt&s=jcr"
                random="https://baccyflap.com/noai/?rnd"
            ></WebringCard>
        </div>

        <div>
            <WebringCard
                name="YAMring"
                link="/webrings/yamring"
                prev="https://jb.is-a.dev/wr/yamring?way=prev&name=jbcarreon123"
                next="https://jb.is-a.dev/wr/yamring?way=next&name=jbcarreon123"
                random="https://jb.is-a.dev/wr/yamring?way=rand"
            ></WebringCard>
        </div>

        <div>
            <WebringCard
                name="Musicring"
                link="https://peanits.lol/webrings/musicring/index.php?page=home"
                prev="//mr.jhorn.net/prev.php?slug=jbcarreon123"
                next="//mr.jhorn.net/next.php?slug=jbcarreon123"
                random="//mr.jhorn.net/rand.php"
            ></WebringCard>
        </div>

        <div>
            <WebringCard
                name="Webmaster Webring"
                link="https://webmasterwebring.netlify.app/"
                prev="https://webmasterwebring.netlify.app?jb-previous"
                next="https://webmasterwebring.netlify.app?jb-next"
                random="https://webmasterwebring.netlify.app?jb-random"
            ></WebringCard>
        </div>

        <div>
            <WebringCard
                name="Bolognese Webring"
                link="https://daisy.nekoweb.org/webring/"
                prev="https://spagwhetti.github.io/redirect.html?to=prev&name=jb"
                next="https://spagwhetti.github.io/redirect.html?to=next&name=jb"
                random="https://spagwhetti.github.io/redirect.html?to=random&name=jb"
            ></WebringCard>
        </div>

        <div>
            <div id='FCWL'>
                <script is:inline data-astro-rerun nonce="webring" type="text/javascript" src="https://beaus-silly-folder.nekoweb.org/my-webrings/FCWL/onionring-variables.js"></script>
                <script is:inline data-astro-rerun nonce="webring" type="text/javascript" src="https://beaus-silly-folder.nekoweb.org/my-webrings/FCWL/widgets/philippines.js"></script>
            </div>
        </div>

        <div>
            <div id="the-webring-webring">
                <script type="text/javascript" src="https://skylerzap.com/webring-webring/onionring-variables.js"></script>
                <script type="text/javascript" src="https://skylerzap.com/webring-webring/onionring-widget.js"></script>
            </div>
        </div>

        <div>
            <link rel="stylesheet" href="https://ultrakill.nekoweb.org/onionring.css">
            <div id='skibiring'> <script type="text/javascript" src="https://ultrakill.nekoweb.org/onionring-variables.js"></script> <script type="text/javascript" src="https://ultrakill.nekoweb.org/onionring-widget.js"></script> </div>
        </div>

        <div>
            <link href="https://websetsbylynn.neocities.org/webring/wblstyle2.css" rel="stylesheet" type="text/css" media="all">
            <div id='wbl2'>
                <script type="text/javascript" src="https://websetsbylynn.neocities.org/webring/wbl2-variables.js"></script>
                <script type="text/javascript" src="https://websetsbylynn.neocities.org/webring/wbl2-widget.js"></script>
            </div>
        </div>

        <div style="height: 200px;">
            <div id="rice-ring">
                <link rel="stylesheet" href="https://terakun.nekoweb.org/ricepaddy/webring.css"> 
                <script is:inline data-astro-rerun type="text/javascript" src="https://terakun.nekoweb.org/ricepaddy/webring-variables.js"></script>
                <script is:inline data-astro-rerun type="text/javascript" src="https://terakun.nekoweb.org/ricepaddy/webring-widget.js"></script>
            </div>
        </div>

        <div>
            <script is:inline data-astro-rerun nonce="webring" src="https://jbcarreon123.nekoweb.org/webrings/ssgring/pmoring.js"></script>
        </div>

        <div>
            <div id='focusfirst-webring'>
                <script is:inline data-astro-rerun nonce="webring" type="text/javascript" src="https://www.beepbird.net/webring/onionring-variables.js"></script>
                <script is:inline data-astro-rerun nonce="webring" type="text/javascript" src="https://www.beepbird.net/webring/onionring-widget.js"></script>
                <noscript><a href='https://www.beepbird.net/index.html'><Image src="https://www.beepbird.net/webring/focusfirst.png" alt="Focus First Index" width="88px" height="31px"></a></noscript>
            </div>
        </div>
    
        <div class="trb">
            <script is:inline data-astro-rerun nonce="webring" src="https://astracelestine.nekoweb.org/webring/tropical-rice-bowl/widgettext.js"></script>
        </div>
    
        <div>
            <script defer src="https://darkosparko.nekoweb.org/webrings%2Fburger-ring/burger-ring.js"></script>
        </div>

        <div>
            <webring-container>
                <config key="type" value="gruvbox-dark"></config>
                <config key="font" value="var(--font)"></config>
                <config key="fill" value="true"></config>
            
                <script is:inline data-astro-rerun nonce="webring" src="https://palette.nekoweb.org/webring.js" onload="document.querySelector('webring-container').style.width = null"></script>
            </webring-container>
        </div>
    
        <div>
            <div id='nekowebring'>
                <link rel="stylesheet" href="https://webring.nekoweb.org/onionring.css">
                <script is:inline data-astro-rerun type="text/javascript" src="https://webring.nekoweb.org/onionring-variables.js"></script>
                <script is:inline data-astro-rerun type="text/javascript" src="https://webring.nekoweb.org/onionring-widget.js"></script>
            </div>
        </div>
    
        <div>
            <script is:inline data-astro-rerun nonce="webring" defer src="https://mechagic.party/1stylescripts/gitgudring.js"></script>
        </div>
    
        <div>
            <div id="apartment-webring">
                <link rel="stylesheet" href="https://darkosparko.nekoweb.org/webrings/apartments-webring/apartment-webring-style.css">
                <script is:inline data-astro-rerun nonce="webring" type="text/javascript" src="https://darkosparko.nekoweb.org/webrings/apartments-webring/apartment-webring-variables.js"></script>
                <script is:inline data-astro-rerun nonce="webring" type="text/javascript" src="https://darkosparko.nekoweb.org/webrings/apartments-webring/apartment-webring-widget.js"></script>
            </div>
        </div> 

        <div>
            <script is:inline data-astro-rerun nonce="webring" src="/webrings/responeko/pmoring.js"></script>
        </div>
    </div>

    <style is:inline>
        #webrings {
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 1fr));
            gap: 6px;
        }

        #webrings > * {
            background-color: var(--acc);
            padding: 6px;
            
            *:not(.ms) {
                font-family: var(--font);
            }
        }

        #webring > div {
            max-width: inherit;
        }

        #webring div > * {
            margin: 0 auto;
            text-align: center;
        }

        html[data-color="dark"] #nekowebring {
            color: var(--altbg);
        }

        .trb {
            text-align: center;

            a {
                color: var(--link) !important;

                &:hover {
                    color: var(--link-hover) !important;
                }
            }
        }

        @media (width <= 640px) {
            #webrings {
                grid-template-columns: repeat(1, minmax(100px, 1fr));
            }
        }
    </style>
</Layout>
