<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('.floating-window').forEach((window) => {
            let titlebar = window.querySelector('.floating-window-titlebar');
            let content = window.querySelector('.floating-window-content');
            console.log('a')

            titlebar.addEventListener('click', (mev) => {
                if (window.classList.contains('move')) {
                    window.classList.remove('move')
                    document.removeEventListener('pointermove', (ev) => titlebarMove(mev, ev, window));
                } else {
                    window.classList.add('move')
                    document.addEventListener('pointermove', (ev) => titlebarMove(mev, ev, window));
                }
            })
        });

        document.querySelectorAll('.palette .select').forEach((el) => {
            el.addEventListener('click', (e) => {
                document.body.className = el.dataset.value;
                document.querySelectorAll('.palette .select').forEach((el) => {
                    el.classList.remove('selected');
                })
                el.classList.add('selected');
                localStorage.setItem("jbsite-theme", el.dataset.value);
            })
        })

        document.querySelectorAll('.scheme .select').forEach((el) => {
            el.addEventListener('click', (e) => {
                document.documentElement.dataset.color = el.dataset.value;
                document.querySelectorAll('.scheme .select').forEach((el) => {
                    el.classList.remove('selected');
                })
                el.classList.add('selected');
                localStorage.setItem("jbsite-theme-scheme", el.dataset.value);
            })
        })

        let scheme = localStorage.getItem("jbsite-theme-scheme");
        scheme = scheme ? scheme : (matchMedia('(prefers-color-scheme:dark)').matches ? 'dark' : 'light');
        let theme = localStorage.getItem("jbsite-theme");
        theme = theme ? theme : 'jcolor';

        document.body.className = theme;
        document.querySelectorAll('.palette .select').forEach((el) => {
            if (el.dataset.value !== theme)
                el.classList.remove('selected');
            else
                el.classList.add('selected');
        })
        document.documentElement.dataset.color = scheme;
        document.querySelectorAll('.scheme .select').forEach((el) => {
            if (el.dataset.value !== scheme)
                el.classList.remove('selected');
            else
                el.classList.add('selected');
        })
    })

    function titlebarMove(mev, ev, window) {
        if (!window.classList.contains('move')) return;
        console.log(mev)
        console.log(ev)
        window.style.setProperty('--left', (ev.clientX - mev.layerX) + 'px')
        window.style.setProperty('--top', (ev.clientY - mev.layerY) + 'px')
    }

    function showWindow(el) {
        document.querySelector(`.floating-window#${el.dataset.id}`).classList.toggle('visible')
        el.classList.toggle('active')
    }

    function showTab(el) {
        document.querySelectorAll('#customize .tab-buttons button').forEach((el) => {
            el.classList.remove('active');
            document.querySelector(`.tab#${el.dataset.tabId}`).classList.remove('visible');
        })
        document.querySelector(`.tab#${el.dataset.tabId}`).classList.add('visible');
        el.classList.add('active');
    }
</script>

<div class="floating-window" id="customize">
    <div class="floating-window-titlebar">
        <p>Customize</p>
        <p><span class="ms">close</span></p>
    </div>
    <div class="floating-window-content">
        <div class="window-container">
            <div class="tab-buttons">
                <button onclick="showTab(this)" class="active" data-tab-id="colors"><span class="ms">palette</span> Colors</button>
                <button onclick="showTab(this)" data-tab-id="fonts"><span class="ms">format_size</span> Fonts</button>
            </div>
            <div class="tab visible" id="colors">
                <h1>Colors</h1>
                <p>Color scheme</p>
                <div class="select-container scheme">
                    <div class="select selected" data-value="dark">
                        Dark
                    </div>
                    <div class="select" data-value="light">
                        Light
                    </div>
                </div>
                <p>Color palette</p>
                <div class="select-container palette" id="palette">
                    <div class="select selected" data-value="jcolor">
                        jColor 2
                        <div class="jcolor color-preview">
                            <div style="--cl:var(--bg)"></div>
                            <div style="--cl:var(--altbg)"></div>
                            <div style="--cl:var(--acc)"></div>
                            <div style="--cl:var(--text)"></div>
                            <div style="--cl:var(--sec)"></div>
                            <div style="--cl:var(--link)"></div>
                            <div style="--cl:var(--link-hover)"></div>
                        </div>
                    </div>
                    <div class="select" data-value="gruvbox">
                        Gruvbox
                        <div class="gruvbox color-preview">
                            <div style="--cl:var(--bg)"></div>
                            <div style="--cl:var(--altbg)"></div>
                            <div style="--cl:var(--acc)"></div>
                            <div style="--cl:var(--text)"></div>
                            <div style="--cl:var(--sec)"></div>
                            <div style="--cl:var(--link)"></div>
                            <div style="--cl:var(--link-hover)"></div>
                        </div>
                    </div>
                    <div class="select" data-value="ctp">
                        Catppuccin
                        <div class="ctp color-preview">
                            <div style="--cl:var(--bg)"></div>
                            <div style="--cl:var(--altbg)"></div>
                            <div style="--cl:var(--acc)"></div>
                            <div style="--cl:var(--text)"></div>
                            <div style="--cl:var(--sec)"></div>
                            <div style="--cl:var(--link)"></div>
                            <div style="--cl:var(--link-hover)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab" id="fonts">
                <h1>Fonts</h1>
            </div>
        </div>
    </div>
</div>

<!-- <div class="floating-window">
    <div class="floating-window-titlebar">
        <p>jPlayer</p>
        <p><span class="ms">close</span></p>
    </div>
    <div class="floating-window-content"></div>
</div> -->

<div class="floating-window" id="tty">
    <div class="floating-window-titlebar">
        <p>jTTY</p>
        <p><span class="ms">close</span></p>
    </div>
    <div class="jonsole--content floating-window-content">
        <p>[jbcarreon123@nekoweb ~]$ cd ..</p>
        <p>cd: /home/: Permission denied</p>
        <p>[jbcarreon123@nekoweb ~]$ ls</p>
        <p style="color: #1c99f3; font-weight: 700;">fonts  imgs  webrings  ocs</p>
        <p>[jbcarreon123@nekoweb ~]$ cd ocs</p>
        <p>[jbcarreon123@nekoweb ~/ocs]$ ls</p>
        <p style="font-weight: 700;">test1  test2</p>
        <p>[jbcarreon123@nekoweb ~/ocs]$ cat test1</p>
        <p>Testing!!!!</p>
        <p>[jbcarreon123@nekoweb ~/ocs]$</p>
    </div>
</div>

<!-- <div class="floating-window">
    <div class="floating-window-titlebar">
        <p>jBrowser - https://thinliquid.dev</p>
        <p><span class="ms">close</span></p>
    </div>
    <div class="browser--content floating-window-content">
        <iframe src="https://thinliquid.dev">
            loading
        </iframe>
    </div>
</div> -->

<style>
    .floating-window {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: var(--top, 0);
        left: var(--left, 0);
        min-width: 350px;
        z-index: 99999;
        transition: none !important;
        border: 1px solid var(--link-hover);
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .floating-window-titlebar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: var(--acc);
            padding: 0 6px;
        }

        .floating-window-content {
            display: flex;
            flex-direction: column;
            min-height: 200px;
            background-color: var(--bg);
            padding: 6px;
            overflow: auto;
        }
    }

    .floating-window:not(.visible) {
        display: none;
    }

    .floating-window.move {
        cursor:grabbing;
    }

    .jonsole--content {
        background-color: black !important;
        font-family: 'Commit Mono', monospace;
        width: 500px;
        height: 250px;

        * {
            padding: 0 !important;
        }
    }

    .browser--content {
        height: 400px;
        width: 600px;

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
            padding: 0;
            background: 0;
            max-width: initial !important;
        }
    }

    #customize {
        width: 600px;

        .floating-window-content {
            height: 400px;
            padding: 0;
        }

        .window-container {
            display: flex;
            flex-direction: row;
            gap: 6px;
            align-items: stretch;
            height: 100%;

            .tab-buttons {
                display: flex;
                flex-direction: column;
                background: var(--acc);
                padding-top: 6px;

                button {
                    text-align: left;
                    width: 100px;
                    margin-left: 6px;
                    color: var(--link);
                }

                button.active {
                    background: var(--bg);
                    color: var(--link-hover);
                }

                button:hover {
                    background-color: var(--altbg);
                    color: var(--link-hover);
                }
            }

            .tab:not(.visible) {
                display: none;
            }

            .tab {
                width: 100%;
                padding-right: 6px;
            }
        }
    }

    .select-container {
        display:grid;
        grid-template-columns: repeat(3, minmax(6px, 1fr));
        gap: 12px;

        .select {
            flex-grow: 1;
            padding: 6px;
            background-color: var(--bg);
            cursor: pointer;

            &:hover {
                background-color: var(--altbg);
            }

            &.selected {
                background-color: var(--acc);
            }

            .color-preview {
                display:grid;
                grid-template-columns: repeat(7, minmax(6px, 1fr));
                gap: 3px;

                div {
                    margin-top: 6px;
                    height: 20px;
                    background-color: var(--cl);
                }
            }
        }
    }
</style>
