---
import '../../styles/global.css' 

export function getStaticPaths() {
    const posts = Object.values(import.meta.glob('../posts/**/*.md', { eager: true }));
    return posts.map((val: any) => {
        let path = val.url.split('/');
        let slug = path[path.length - 2];
        return { params: { slug: slug } }
    })
}

const { slug } = Astro.params;
---

<html>
    <head>
        <meta http-equiv="refresh" content={"0; url=/posts/" + slug + '/'} />
        <title>Redirecting...</title>
    </head>
    <body class="jcolor">
        <main>
            <h1>Redirecting to /posts/{slug}/, please wait...</h1>
        </main>
    </body>
</html>