---
import Layout from '../../layouts/LandingLayout.astro';

export function getStaticPaths() {
    const posts = Object.values(import.meta.glob('../posts/**/*.md', { eager: true }));
    return posts.map((val: any) => {
        let path = val.url.split('/');
        let slug = path[path.length - 2];
        return { params: { slug: slug } }
    })
}

const { slug } = Astro.params;
---

<Layout title="Redirecting..." id="redirecting">
    <head>
        <meta http-equiv="refresh" content={"0; url=/posts/" + slug + '/'} />
    </head>
    <h1>Redirecting to /posts/{slug}/, please wait...</h1>
</Layout>