---
import '@csstools/normalize.css';
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { version } from "../../package.json";
import { Image } from "astro:assets";
import { Head } from 'astro-capo'
const { title, id, description } = Astro.props;
const { url, site } = Astro;
import CommonHead from "../components/CommonHead.astro";
import Windows from "../components/Windows.astro";
import NotifModal from "../components/NotifModal.astro";

const ogImage = url
	.toString()
	.replace("/posts/", "/post-og/")
	.replace(/\/$/, "");
---

<!doctype html>
<!--

     ▘▌ ▌      ▘▗              ▘      ▖▖
     ▌▛▌ ▛▘  ▛▘▌▜▘█▌▖  ▌▌█▌▛▘▛▘▌▛▌▛▌  ▙▌
     ▌▙▌ ▄▌  ▄▌▌▐▖▙▖▖  ▚▘▙▖▌ ▄▌▌▙▌▌▌   ▌
    ▙▌                                  

    (c) 2024-2025 JB Carreon, All rights reserved.

    There's nothing you can copy here,
    everything is minified and obfuscated.
    But, you can go to https://git.gay/jbcarreon123/jbsite4
    for the source code.
    
    Inspirations are welcome, copying is prohibited.
    See LICENSE file for details.
    - https://rice.place/manifesto.html
    - https://maxpixels.moe/manifesto/

-->
<html lang="en" class="inter" data-color="dark">
	<head>
		<CommonHead title={title} id={id} description={description} />
		<slot name="head"/>

		<script is:inline>
			document.addEventListener("DOMContentLoaded", loadCustomize);
			document.addEventListener("astro:after-swap", loadCustomize);
		
			function loadCustomize() {
				document.querySelectorAll(".palette .select").forEach((el) => {
					el.addEventListener("click", (e) => {
						document.body.className = el.dataset.value;
						document.querySelectorAll(".palette .select").forEach((el) => {
							el.classList.remove("selected");
						});
						el.classList.add("selected");
						localStorage.setItem("jbsite-theme", el.dataset.value);
					});
				});
		
				document.querySelectorAll(".scheme .select").forEach((el) => {
					el.addEventListener("click", (e) => {
						let val = el.dataset.value;
						if (el.dataset.value === "system") {
							val = matchMedia("(prefers-color-scheme:dark)").matches
								? "dark"
								: "light";
						}
						document.documentElement.dataset.color = val;
						document.querySelectorAll(".scheme .select").forEach((el) => {
							el.classList.remove("selected");
						});
						el.classList.add("selected");
						localStorage.setItem("jbsite-theme-scheme", val);
					});
				});
		
				document.querySelectorAll(".main-font .select").forEach((el) => {
					el.addEventListener("click", (e) => {
						document.documentElement.className = el.dataset.value;
						document.querySelectorAll(".main-font .select").forEach((el) => {
							el.classList.remove("selected");
						});
						el.classList.add("selected");
						localStorage.setItem("jbsite-font", el.dataset.value);
					});
				});
		
				loadTheme();
			}
		
			function loadTheme() {
				let scheme = localStorage.getItem("jbsite-theme-scheme");
				scheme = scheme ? scheme : "system";
				if (scheme === "system") {
					scheme = matchMedia("(prefers-color-scheme:dark)").matches
						? "dark"
						: "light";
				}
		
				let theme = localStorage.getItem("jbsite-theme");
				theme = theme ? theme : "jcolor";
		
				let font = localStorage.getItem("jbsite-font");
				font = font ? font : "inter"
		
				document.body.className = theme;
				document.querySelectorAll(".palette .select").forEach((el) => {
					if (el.dataset.value !== theme) el.classList.remove("selected");
					else el.classList.add("selected");
				});
				document.documentElement.dataset.color = scheme;
				document.querySelectorAll(".scheme .select").forEach((el) => {
					if (el.dataset.value !== scheme) el.classList.remove("selected");
					else el.classList.add("selected");
				});
				document.documentElement.classList = font;
				document.querySelectorAll(".main-font .select").forEach((el) => {
					if (el.dataset.value !== font) el.classList.remove("selected");
					else el.classList.add("selected");
				});
			}
		</script>
	</head>
    <body class="jcolor" transition:animate="fade">
		<NotifModal />
        <slot />
    </body>
</html>