---
import "../styles/global.css";
import "../styles/landing.css";
import { ClientRouter } from "astro:transitions";
import { version } from "../../package.json";
import { Image } from "astro:assets";

const { title, id, description } = Astro.props;
const { url, site } = Astro;
import { OgImage } from "astro-opengraph-image/components";
import CommonHead from "../components/CommonHead.astro";
import Windows from "../components/Windows.astro";

const ogImage = url
	.toString()
	.replace("/posts/", "/post-og/")
	.replace(/\/$/, "");
---

<!doctype html>
<html lang="en" class="inter" data-color="dark">
	<head>
		<CommonHead title={title} id={id} description={description} />
	</head>
    <body class="jcolor" transition:animate="fade">
        <main>
            <slot />
        </main>

		<Windows />
    </body>
</html>